<%- include('../layouts/header', {title: 'Login'}); -%>
<div class="row justify-content-center">
    <div class="col-md-8">
        <div class="card">
            <div class="card-header">Login</div>

            <div class="card-body">
                <form method="POST" action="/login">

                    <div class="form-group row">
                        <label for="email" class="col-md-4 col-form-label text-md-right">E-mail Address</label>

                        <div class="col-md-6">
                            <input id="email" type="email" class="form-control" name="email"
                                value="<%= flash.email ? flash.email : '' %>" required autocomplete="email" autofocus>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label for="password" class="col-md-4 col-form-label text-md-right">Password</label>

                        <div class="col-md-6">
                            <input id="password" type="password" class="form-control" name="password" required
                                autocomplete="current-password">
                        </div>
                    </div>

                    <div class="form-group row mb-0">
                        <label class="col-md-4 col-form-label text-md-right" aria-disabled="true"></label>
                        <div class="col-md-6 d-flex justify-content-between mt-4">
                            <button type="submit" class="btn btn-primary">
                                Login
                            </button>

                            <div class="btn btn-primary">
                                <i class="fa fa-facebook mr-2"></i>
                                <a href="/auth/facebook" style="color: #fff; text-decoration: none;">Login with
                                    Facebook</a>
                            </div>
                        </div>
                    </div>

                </form>
            </div>
        </div>
    </div>
</div>
<%- include('../layouts/footer'); -%>