<nav class="navbar navbar-expand-md navbar-light bg-white shadow-sm mb-5">
  <div class="container">
    <a class="navbar-brand" href="/">
      MiniCRM
      <svg style="height: 5%; width: 5%; margin-top: 10px" viewBox="0 0 48 48" fill="none"
        xmlns="http://www.w3.org/2000/svg">
        <path
          d="M11.395 44.428C4.557 40.198 0 32.632 0 24 0 10.745 10.745 0 24 0a23.891 23.891 0 0113.997 4.502c-.2 17.907-11.097 33.245-26.602 39.926z"
          fill="#6875F5"></path>
        <path
          d="M14.134 45.885A23.914 23.914 0 0024 48c13.255 0 24-10.745 24-24 0-3.516-.756-6.856-2.115-9.866-4.659 15.143-16.608 27.092-31.75 31.751z"
          fill="#6875F5"></path>
      </svg>
    </a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="{{ __('Toggle navigation') }}">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <!-- Left Side Of Navbar -->
      <ul class="navbar-nav mr-auto">

      </ul>

      <!-- Right Side Of Navbar -->
      <ul class="navbar-nav ml-auto">

        <% if (user) { %>
        <li class="nav-item dropdown">

          <a id="navbarDropdown" class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false" v-pre>
            <%= user.name %> <span class="caret"></span>
          </a>



          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="/users/show">Profile</a>

            <a class="dropdown-item" href="/home">Companies</a>

            <% if (user.role === 'admin') { %>
            <a class="dropdown-item" href="/users">Users</a>
            <% } %>

            <form action="/logout" method="POST">
              <button type="submit" class="dropdown-item" style="cursor:pointer">
                Logout
              </button>
            </form>
          </div>
        </li>
        <% } else { %>
        <li class="nav-item">
          <a class="nav-link" href="/login" role="button">
            Login <span class="caret"></span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/register" role="button">
            Register <span class="caret"></span>
          </a>
        </li>
        <% } %>
      </ul>
    </div>
  </div>
</nav>



<!-- <nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Navbar</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Features</a>
      </li>
    </ul>
  </div>
</nav> -->