<%- include('../layouts/header', {title: 'Index Users'}); -%>
<div class="row justify-content-center">
    <div class="col-md-8" 
        x-data="{
            name: '',
            email: '',
            website: '',
            logo: '',

            create() {
                const formData = new FormData();
                //const fileField = document.getElementById('logo');
                formData.append('name', this.name);
                formData.append('email', this.email);
                formData.append('website', this.website);
                formData.append('logo', this.logo.split('\\')[2]);
                const data = new URLSearchParams(formData);
                fetch('/companies/', {
                    method: 'POST',
                    redirect: 'follow',
                    body: data,
                })
                .then(response => {
                    window.location.href = '/home';
                })
                .catch(err => { 
                    if(err) throw err;
                });
            },
        }"
    >
        <div class="card">
            <h1 class="display-4 text-center">Create new company</h1>

            <div class="card-body">
                <form enctype="multipart/form-data">
                    <div class="form-group">
                        <label for="name">Name</label>
                        <input x-model="name" type="text" name="name" id="name" placeholder="Company name" class="form-control" required>                           
                    </div>

                    <div class="form-group">
                        <label for="email">Email</label>
                        <input x-model="email" type="email" name="email" id="email" placeholder="Company e-mail" class="form-control" required> 
                    </div>

                    <div class="form-group">
                        <label for="website">Website</label>
                        <input x-model="website" type="website" name="website" id="website" placeholder="Company website" class="form-control" required>                
                    </div>

                    <div class="form-group mb-5">
                        <label for="logo">Logo</label>
                        <input x-model="logo" type="file" name="logo" id="logo" class="form-control-file">                
                    </div>
                    <div class="d-flex justify-content-between">
                        <a href="/home" class="btn btn-secondary btn-lg">Go back</a>
                        
                        <button @click.prevent="create" type="submit" class="btn btn-primary btn-lg">Create</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<%- include('../layouts/footer'); -%>