<%- include('../layouts/header', {title: 'Edit Company'}); -%>
<div class="row justify-content-center">
    <div class="col-md-8">
        <div 
            class="card"
            x-data="{
                update() {
                    const formData = new FormData(document.getElementById('form'));
                    const data = new URLSearchParams(formData);
                    fetch('/companies/<%= company.id %>', {
                        method: 'PATCH',
                        redirect: 'follow',
                        body: data,
                    })
                    .then(response => {
                        window.location.href = '/home';
                      })
                    .catch(err => { 
                        if(err) throw err;
                    });
                },
            }"
        >
            <h1 class="display-4 text-center">EDIT | <%= company.name %> </h1>

            <div class="card-body">
                <form enctype="multipart/form-data" id="form">
                    <div class="form-group">
                        <label for="name">Name</label>
                        <input type="text" name="name" id="name" class="form-control" required>                           
                    </div>

                    <div class="form-group">
                        <label for="email">Email</label>
                        <input type="email" name="email" id="email" class="form-control" required> 
                    </div>

                    <div class="form-group">
                        <label for="website">Website</label>
                        <input type="website" name="website" id="website" class="form-control" required>                
                    </div>

                    <div class="form-group mb-5">
                        <label for="logo">Logo</label>
                        <input type="file" name="logo" id="logo" class="form-control-file">                
                    </div>
                    <div class="d-flex justify-content-between">
                        <a href="/home" class="btn btn-secondary btn-lg">Go back</a>
                        
                        <button @click.prevent="update" type="submit" class="btn btn-primary btn-lg">Update</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<%- include('../layouts/footer'); -%>